name: uat-snowflake-cicd

# CICD Start from here. 
on:
  push:
    branches:
      - uat
    paths:
      - 'code/snowflake/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  uat-snowflake-changes-job:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository.
      - name: Checkout repository
        uses: actions/checkout@v2
      # 
      - name: Use Python 3.8.x
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.8.x

      - name: Run schemachange
        env:
          SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SF_USERNAME: ${{ secrets.SF_USERNAME }}
          SF_ROLE: ${{ secrets.SF_ROLE }}
          SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE_UAT }}
          SF_DATABASE: ${{ secrets.SF_DATABASE_UAT }}
          #autocommit: True
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
        run: |
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          python --version
          echo "Step 1: Installing schemachange"
          pip install schemachange
          
          echo "Step 2: Running schemachange"
          schemachange -f $GITHUB_WORKSPACE/code/snowflake -a $SF_ACCOUNT -u $SF_USERNAME -r $SF_ROLE -w $SF_WAREHOUSE -d $SF_DATABASE -c $SF_DATABASE.SCHEMACHANGE.CHANGE_HISTORY --create-change-history-table --vars '{"autocommit":"True"}' -v